<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title 'Stenope Documentation' %}</title>
        <meta name="description" content="{% block description 'Content documentation' %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body>
        <div class="main">
            {% block body %}
                <div class="columns">
                    <aside class="sidebar">
                        <a href="{{ path('index') }}" class="logo">
                            Stenope
                        </a>
                        <nav class="navigation">
                            <a href="{{ path('index') }}" class="{{ 'index' == app.request.get('_route') ? 'active' : '' }}">
                                About
                            </a>
                            {% set current = app.request.attributes.get('_route_params').page|default(null) %}
                            {% for page in content_list('App\\Model\\Page') %}
                                <a href="{{ path('page', { page: page.slug }) }}" class="{{ page.slug == current ? 'active' : '' }}">
                                    {{ page.title }}
                                </a>
                            {% endfor %}
                            <a href="https://github.com/StenopePHP/Stenope">
                                <span class="icon-github"></span>
                                Github
                            </a>
                        </nav>
                    </aside>
                    <main class="content">
                        {% block content '' %}
                        <footer class="footer">
                            {% block footer %}
                                <a href="https://github.com/StenopePHP/Stenope">
                                    <span class="icon-github"></span>
                                    Stenope on Github
                                </a>
                            {% endblock %}
                        </footer>
                    </main>
                </div>
            {% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
